

.Menu{
  background-color: black;
  color :white;
}
.Footer{
  background-color: black;
  color :white;
}
.pelis {
  margin: 5% 5%;
  text-align: center;
}

.App {
  text-align: center;
}
.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  text-align: center;
}
img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.formClientes{
  align-items: center;
  display: flex;
  flex-direction: column;
 
 
}